TRANSLATE_PROMPT="Translate text with [] into English and rewrite [{}] to fit constraints for generating a cat avatar using DALL-E-3"
# Configure the OpenAI API key for interacting with the OpenAI API
OPENAI_API_KEY=
# Set the Twitter username for login
TWITTER_USERNAME=
# Set the Twitter password for login
TWITTER_PASSWORD=
# Set the Twitter password for login
TWITTER_EMAIL=